.widget {
	&.wp-ext-child-page {
		ul.children {
			border-left: 1px dotted #eee;
		}
		a {
			display: block;
			padding: .5rem 0;
		}
		li {
			li {
				margin-left: 0;
				padding-left: 2rem;
			}
			&.current_page_item {
				> a {
					color: #333;
				}
			}
		}
	}
}